@if (user) {
<figure
  class="card max-w-sm sm:flex md:p-0 mx-auto"
  (click)="onSelectUser()"
  (dblclick)="onDeleteUser()"
>
  <img
    class="object-fill w-20 h-20 m-auto p-2 rounded"
    [src]="user.img"
    alt="card-img"
  />
  <div class="pt-6 md:p-4 text-center md:text-left space-y-4">
    <figcaption class="font-medium">
      <div class="text-sky-500">{{ user.fullname }}</div>
      <div class="text-slate-700">
        {{ user.position }}, {{ user.nacionality }}.
      </div>
    </figcaption>
  </div>
</figure>
} @else {
<figure class="card md:flex md:p-0 text-center">
  No available user information
</figure>
}
